/target/
.idea/

/api-gateway/target/classes/com/andyholes/apigateway/ApiGatewayApplication.class
/api-gateway/target/classes/application.properties
/discovery-server/target/classes/application.properties
/inventory-service/target/classes/application.properties
/order-service/target/classes/application.properties
/product-service/target/classes/application.properties
/discovery-server/target/classes/com/andyholes/DiscoveryServerApplication.class
/inventory-service/target/classes/com/andyholes/inventoryservice/model/Inventory.class
/inventory-service/target/classes/com/andyholes/inventoryservice/controller/InventoryController.class
/inventory-service/target/classes/com/andyholes/inventoryservice/repository/InventoryRepository.class
/inventory-service/target/classes/com/andyholes/inventoryservice/dto/InventoryResponse$InventoryResponseBuilder.class
/order-service/target/classes/com/andyholes/orderservice/dto/InventoryResponse$InventoryResponseBuilder.class
/inventory-service/target/classes/com/andyholes/inventoryservice/dto/InventoryResponse.class
/order-service/target/classes/com/andyholes/orderservice/dto/InventoryResponse.class
/inventory-service/target/classes/com/andyholes/inventoryservice/service/InventoryService.class
/inventory-service/target/classes/com/andyholes/inventoryservice/InventoryServiceApplication.class
/inventory-service/target/test-classes/com/andyholes/inventoryservice/InventoryServiceApplicationTests.class
/order-service/target/classes/com/andyholes/orderservice/model/Order.class
/order-service/target/classes/com/andyholes/orderservice/controller/OrderController.class
/order-service/target/classes/com/andyholes/orderservice/model/OrderLineItems.class
/order-service/target/classes/com/andyholes/orderservice/dto/OrderLineItemsDto.class
/order-service/target/classes/com/andyholes/orderservice/repository/OrderRepository.class
/order-service/target/classes/com/andyholes/orderservice/dto/OrderRequest.class
/order-service/target/classes/com/andyholes/orderservice/service/OrderService.class
/order-service/target/classes/com/andyholes/orderservice/OrderServiceApplication.class
/product-service/target/classes/com/andyholes/productservice/model/Product$ProductBuilder.class
/product-service/target/classes/com/andyholes/productservice/model/Product.class
/product-service/target/classes/com/andyholes/productservice/controller/ProductController.class
/product-service/target/classes/com/andyholes/productservice/repository/ProductRepository.class
/product-service/target/classes/com/andyholes/productservice/dto/ProductRequest$ProductRequestBuilder.class
/product-service/target/classes/com/andyholes/productservice/dto/ProductRequest.class
/product-service/target/classes/com/andyholes/productservice/dto/ProductResponse$ProductResponseBuilder.class
/product-service/target/classes/com/andyholes/productservice/dto/ProductResponse.class
/product-service/target/classes/com/andyholes/productservice/service/ProductService.class
/product-service/target/classes/com/andyholes/productservice/ProductServiceApplication.class
/order-service/target/classes/com/andyholes/orderservice/config/WebClientConfig.class
